.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-inverse {
  color: #fff;
}
.bg-bloomberg,
.bg-ipc,
.bg-virtual-desktop,
.bg-mobile,
.bg-software,
.bg-deskphone {
  color: #fff;
}

.bg-bloomberg {
  background-color: #001f3f;
}
.bg-ipc {
  background-color: #ff4136;
}
.bg-virtual-desktop {
  background-color: #2ecc40;
}
.bg-mobile {
  background-color: #0074d9;
}
.bg-software {
  background-color: #ff851b;
}
.bg-deskphone {
  background-color: #39cccc;
}
